/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2014, 10:43:12 AM
    Author     : etammaru
*/
/*html *
{
   color: #FFF200 !important;
   font-family: Arial !important;
}*/
html { 
  /*background: url(images/bg.jpg) no-repeat center center fixed; */
  background-color: #FFFFF2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-color-blue
{
   background-color: #FBF5E6;
}
#edus-container
{
    clear: left;
    float: left;
    margin-top: 32px;
    width: 100%;
}
.poi-header
{
    border-bottom: 1px solid black;
}
.box-shadow
{
    box-shadow: 10px 10px 33px #888888;
}
.clear-left
{
    clear:left;
}
.poi-sub-header
{
    font-size: 17px;
    margin-left: 15px;
}
.poi-header:hover
{
    color: #003300;
}
.poi
{
    z-index: 99;
    font-size: 30px;
    float: left;
    background-color: #ADD8E6;
    padding: 10px;
    min-height: 36px;
    margin: 10px;
    /* margin-right: 0px; */
    /* overflow: hidden; */
    /* overflow-wrap: normal; */
    cursor: pointer;
}
.poi:hover
{
    color: yellow;
}
#phone-info
{
    float: left;
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-top: 10px;
    border-left: 0px solid #000;
    margin-left: -10px;
    height: 55px;
    width: 90%;
    font-size:12px;
    padding-right:0px; 
    z-index:-1; 
    overflow:hidden
}
#poi-special-address
{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ADD8E6 #ADD8E6 #ADD8E6 #ADD8E6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    padding: 0px;
    margin-left: 10px;
    /* min-height: 48px; */
    /* margin-top: 100px; */
    width: 292px;
    padding: 3px;
    text-align: center;
    /* height: 33px; */
}
#poi-special-education
{
    float: left;
    clear: left;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #ADD8E6 #ADD8E6 #ADD8E6 #ADD8E6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-left: 20px;
    /* min-height: 48px; */
    margin-top: -10px;
    width: 63%;
    /* text-align: center; */
}
#name-container
{
    /* width: 71%; */}
#phone-container
{
    clear: left;
    /* FLOAT: LEFT; */
    width: 36%;
    position:absolute;
}
#address-container
{
    width: 22%;
    //clear:left;
}
#edu-container
{
    clear:left;
}
#poi-course-work
{
    border-left-width: 1px;
    border-left-style: solid;
    border-color: lightblue;
    float: left;
    clear: left;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 6px;
}
.poi-name-info
{
    float: left;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ADD8E6 #ADD8E6 #ADD8E6 #ADD8E6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    /* margin-left: -942px; */
    /* min-height: 48px; */
    /* margin-top: 66px; */
    font-size: 15px;
    /* width: 337px; */
    text-align: center;
    background-color: white;
}
.red-hover:hover
{
    color: red;
}
.blue-hover:hover
{
    color: #00FF00;
}
.teal-hover:hover
{
    color: yellow;
}
.yellow-hover:hover
{
    color: yellow;
}
.poi-minimize-left
{
    float: left;
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: #ADD8E6;
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-left: 6px;
    margin-top: 10px;
    border-left: 0px solid #000;
    margin-left: 0px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    cursor: w-resize;
}
.poi-minimize-left-handle
{
    float: left;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-left: 6px;
    margin-top: 10px;
    border-left: 0px solid #000;
    margin-left: 0px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: w-resize;
}
.poi-minimize-right-handle
{
    float: right;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    /* padding: 3px; */
    /* margin-left: 6px; */
    margin-top: 13px;
    /* border-left: 0px solid #000; */
    /* margin-left: 0px; */
    /* min-height: 48px; */
    /* max-width: 166px; */
    /* font-size: 14px; */
    /* height: 3px; */
    display: compact;
    /* width: 3%; */
    cursor: w-resize;
}
.poi-minimize-left-handle-bar-top
{
    width: 5px;  
    height: 5px;
    /* display: inline-block; */
    float: left;
    background-color: #C19A6B;
    margin-left: -3px;
    margin-top: 8px;
}
.poi-minimize-right-handle-bar-top
{
    width: 5px;  
    height: 5px;
    /* display: inline-block; */
    float: left;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    margin-left: -3px;
    margin-top: 8px;
    max-width: 70px;
}
.poi-minimize-right-handle-bar-bottom
{
    width: 5px;  
    height: 5px;
    /* display: inline-block; */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    /* margin-left: -9px; */
    /* vertical-align: sub; */
    margin-top: 35px;
    /* float: left; */
    margin-left: -3px;
    
}
.poi-minimize-left-handle-bar-bottom
{
    width: 5px;  
    height: 5px;
    /* display: inline-block; */
    background-color: #C19A6B;
    /* margin-left: -9px; */
    /* vertical-align: sub; */
    margin-top: 35px;
    /* float: left; */
    margin-left: -3px;
}
.poi-minimize-left-handle-bar-grab
{
    width: 5px;  
    height: 38px;
    /* display: inline-block; */
    float: left;
    background-color: #C19A6B;
    border-radius: 1px 3px 3px 1px;
    margin-left: -6px;
    margin-top: 5px;
}
.poi-minimize-right-handle-bar-grab
{
    width: 30px;  
    height: 38px;
    /* display: inline-block; */
    float: right;
    background-color: grey;
    border-radius: 25PX 0PX 0PX 25PX;
    margin-left: -6px;
    margin-top: 5px;
}
.poi-minimize-left-handle-bar-grab-container
{
    float: left;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-left: 6px;
    margin-top: 10px;
    border-left: 0px solid #000;
    margin-left: 0px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: w-resize;
}
.poi-minimize-right-handle-bar-grab-container
{
    float: right;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    padding-bottom: 16px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 3px;
    margin-left: 6px;
    margin-top: 10px;
    border-left: 0px solid #000;
    margin-left: 0px;
    min-height: 48px;
    /* max-width: 166px; */
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: w-resize;
}
.poi-minimize-top
{
    border: 1px solid lightblue;
    /* float: left; */  border-width: 0px 1px 1px 1px;  border-style: solid;  border-color: #ADD8E6 #ADD8E6 #ADD8E6 #ADD8E6;  -moz-border-top-colors: none;  -moz-border-right-colors: none;  -moz-border-bottom-colors: none;  -moz-border-left-colors: none;  border-image: none;  padding: 3px;  
    margin-left: 13px;  /* min-height: 48px; */  
    /* margin-top: -7px; */  width: 277px;  text-align: center;  
    height: 4px;
    cursor: n-resize;
}
.poi-minimize-top-handle
{
    /* float: left; */
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    /* padding-bottom: 16px; */
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    /* padding: 3px; */
    margin-left: 23px;
    margin-top: -12px;
    border-left: 0px solid #000;
    margin-left: 133px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: n-resize;
}
.poi-minimize-top-handle-bar-top
{
    width: 5px;  
    height: 5px;
    background-color: #C19A6B;
    margin-top: 12px;
    z-index: -1;
}
.poi-minimize-top-handle-bar-bottom
{
    width: 5px;  
    height: 5px;
    background-color: #C19A6B;
    margin-top: -5px;
    margin-left: 40px;
}
.poi-minimize-top-handle-bar-grab
{
    width: 75px;  
    height: 6px;
    margin-top: 4px;
    margin-left: -5px;
    /* display: inline-block; */
    /* float: left; */
    background-color: #C19A6B;
    border-radius: 1px 1px 3px 3px;
    /* margin-left: -6px; */
    /* margin-top: 19px; */
}
.poi-minimize-top-handle-bar-grab-container
{
    /* float: left; */
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    /* padding-bottom: 16px; */
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    height: 3px;
    cursor: n-resize;
    margin-top: -176px;
}
#google-map
{
    border: 0px;
    /* float: left; */
    border-image: none;
    padding: 3px;
    margin-left: 7px;
    margin-top: -3px;
    width: 299px;
    height: 49px;
}
.float-left
{
    float:left;
}
.mob-div-width
{
    width: 13%;
    min-width: 50px;
}
.mob-div-height
{
    /* width: 50px; */
}
.mob-div-font
{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    text-overflow: clip;
}
.highlighted-font-color
{
    color: black;
}
.mob-top-bottom-marg
{
    margin-top:10px;
    margin-bottom:10px;
}
.mob-left-right-padding
{
    padding-left: 1%;
    padding-right: 1%
}
.float-center
{
    margin-left: auto;
    margin-right: auto;
}
.float-right
{
    float:right;
}
.mob-left-right-marg
{
    margin-right: 3%;
    margin-left: 3%;
}
.pointer:hover
{
    cursor:pointer
}
.footer
{
    position:fixed;
    bottom:2px;
    z-index: 1000000;
    height:19px;
    width: 100%;
}
.padding-left-right
{
    padding-left:3px;
    padding-right:3px;
}
.margin-right-5-percent
{
    margin-right: 5%;
}
.background-transparent
{
    opacity: 0.0;
    filter: alpha(opacity=60);
}
.center-floater
{
    display: table;
    margin: auto;
    padding-right: auto;
}
.width-favicon
{
    width:20px;
}
#email-info
{
    position: absolute;
    margin-top: 66px;
    z-index: -1;
    border-width: 0px 1px 1px 1px;  border-style: solid;  border-color: #ADD8E6 #ADD8E6 #ADD8E6 #ADD8E6;
    width: 338px;
    padding: 3px;
    margin-left: 10px;
}
#email-minimize-top-handle
{
    float: left;
    z-index: -1;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    /* padding-bottom: 16px; */
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    /* padding: 3px; */
    margin-left: 6px;
    margin-top: 97px;
    border-left: 0px solid #000;
    margin-left: -180px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: n-resize;
}
#name-info
{
    max-width: 268px;
    height: 50px;
    position: absolute;
    margin-left: -277px;
    border-width: 1px 1px 1px 1px;    
    font-size: 0.9em;
}
#email-minimize-top-handle-bar-grab-container
{
    float: left;
    /* border-width: 1px 1px 1px 0px; */
    /* border-style: solid solid solid none; */
    /* border-color: #ADD8E6; */
    /* padding-bottom: 16px; */
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    /* padding: 3px; */
    margin-left: 6px;
    margin-top: 110px;
    border-left: 0px solid #000;
    margin-left: -190px;
    min-height: 48px;
    max-width: 166px;
    font-size: 14px;
    height: 3px;
    display: compact;
    cursor: n-resize;
}
#sandiego
{
    clear:left;
    float:left; 
    width: 220px;
    text-align: center;
}
.poi-minimize-right-handle-bar-grab-inner-hemi
{
    background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

    height: 27px;
    margin-right: 4px;
    width: 20px;
}
.left-wire
{
    float: right;
    width: 1000px;
    height: 13px;
    margin-top: 30px;
    margin-right: 1px;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); 
}
.hug-center-on-the-right
{
    border:1px solid black;
    display: inline-block;
    width: 200px;
    clear: none;
}
#address-info-box
{
    position: absolute;
    margin-top: 71px;
    width: 100%;
}
.mob-contact-font
{
  font-size: 2em;
  text-align: center;
  color: black;
  font-family: 'Dosis', sans-serif;
  text-overflow: clip;
}

#diploma
{
    float: right;
    width: 300px;
    margin-right: 11px;
    margin-top: 15px;
    cursor: pointer;
}
#diploma-frame
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: beige;
    opacity: 0.96;
    top: 0px;
    left: 0px;
}
#diploma-expanded
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
    /* height: 655px; */
}
.inner-shadow
{
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   
    box-shadow: inset 0 0 6px #000000;
}
#email-drawer
{
    margin-top: -54px;
    z-index: -1;
    cursor: pointer;
}
#phone-drawer
{
    z-index: -3;
    /* margin-left: -24px; */
    /* overflow: hidden; */
    /*margin-left: -33%;*/
    float: left;
    width: 33%;
    position: relative;
}
/*.float-left-mob
{
    float:left;
    font-size: 31px;
    background-color: #b0e0e6;
    padding:3px;
    margin:3px;
}*/
#diploma-mob
{
    width: 98%;
    margin-left:1%;
}
#mobile-display
{
    width: 100%; 
    min-height: 100%; 
}
#reg-display
{
    width: 100%; 
    min-height: 100%
}
.padding-5-px
{
    padding: 5px;
}
.padding-10-px
{
    padding: 10px;
}
.margin-10-px
{
    margin-top: 10px;
}
#name-plug
{
    margin-left: -2000px;
    margin-top: -14px;
    position: absolute;
}
#email-container
{
    position:absolute; 
    right:0px;
}
.min-height-36px
{
    /* min-height: 60px; */
}
#email-drawer-handle
{
    position: absolute;
    left: 328px; 
    z-index: -1;
}
#left-handle-html-container
{
    float: left;
    z-index: -1;
    margin-top: 4px;
}
.jobexp-location
{
    color: black
;
    /* display: inline-block; */
    position: absolute;
    right: 5%;
    /* clear: left; */
}
.jobexp-time
{
    float: left;
    clear: left;
    position: absolute;    
    left: 6.2%;
}
.jobexp-title
{
    /* float: left; */
    /* clear: left; */
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    /* right: 50%; */
    width: 1%;
}

/* fonts */

.helvetica-header
{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 2.5em;
}
h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.div-p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714282989502px;
}
.mob-contact-font
{
  font-size: 2em;
  text-align: center;
  color: black;
  font-family: 'Dosis', sans-serif;
  text-overflow: clip;
}
.font-mob-edu
{
  font-size: 2em;
  text-align: left;
  color: black;
  font-family: 'Dosis', sans-serif;
  text-overflow: clip;
}
.job-title-font
{
    font-size: 1em;
    text-align: left;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-overflow: clip;
}
.helvetica-contact
{
    font-size: 1.4em;
    text-align: center;
    color: black;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.helvetica-sub-header
{
    font-size: 1.4em;
    text-align: left;
    color: black;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.border-radius-20px
{
    border-radius: 10px;
}
#jobexpInfo1
{
    float:right;
}
.margin-left-right-20px
{
    margin-left: 20px;
    margin-right: 20px;
}
.center-floating-banner
{
    width: 90%;
    margin: 10px 5% 0% 5%;
}
.position-relative
{
    position:relative;
}